/*Обнуляющий стиль */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}
/*шапка сайта */
.header {
  background-color: rgba(255, 113, 67, 0.27);
  padding: 38px 0 48px;
}
.header-flex,
.busnies-container,
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}
.nav-li {
  display: inline-block;
}
.nav-li:not(:first-of-type) {
  margin-left: 49px;
}
.nav-link {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;
  color: #696871;
  text-decoration: none;
}
.nav-link :hover {
  color: black;
  transition: 350ms;
}
.button {
  width: 212px;
  height: 60px;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.button-orange {
  background: #ff7143;
}
/* бробел между button-orange и ---> :  */
.button-orange:hover {
  background: #a83008;
  transition: 500ms;
}
/* мекция 1*/
.busnies-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 105px auto 85px;
}
.about-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.50105px;
  color: #19191b;
  max-width: 470px;
  margin-bottom: 30px;
}
.about-text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
  max-width: 410px;
}
.button-violet {
  background: #5454d4;
}
.button-transparent {
  background: none;
  color: #5454d4;
  border: 1px solid #5454d4;
  border-radius: 10px;
  margin-left: 30px;
}
.button-transparent:hover {
  background: #5454d4;
  transition: 500ms;
}
/* подвал*/
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  background-color: rgba(255, 113, 67, 0.27);
  padding: 53px 0;
}
.nav-list {
  margin-left: ;
}
